<template name="select2ExamplesPanelView">
    {{#panel styles="panel-default select2-examples-panel" }}
        {{#panelHeading icon="icon-menu5" title="Select2" }}
            <div class="pull-left">
                {{#select2 selector=selector options=selectorOptions tabindex="1"}}
                    {{#each options }}
                        <option value="{{value}}">{{label}}</option>
                    {{/each}}
                {{/select2}}
            </div>
        {{/panelHeading}}
        {{#panelBody}}
            {{> selectedView }}
        {{/panelBody}}
    {{/panel}}
</template>