<template name="select2DataSourcesView">
  <form>
    <div class="row">
      <div class="form-group col-sm-4">
        <label class="col-sm-4 control-label">DOM Source: </label>
        <div class="col-sm-8">
          {{#Select2
            placeholder=countryPlaceholder
            tabindex="2"
          }}
            {{> countryOptions }}
          {{/Select2}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-4">
        <label class="col-sm-4 control-label">Array Source: </label>
        <div class="col-sm-8">
          {{> Select2 ArraySource }}
        </div>
      </div>
    </div>
  </form>
</template>